[run]
# Measure coverage for the 'team_production_system' directory only
source = team_production_system

# Omit test files and certain configuration files from coverage
omit = 
    team_production_system/tests/*
    team_production_system/apps.py
    team_production_system/manage.py
    team_production_system/__init__.py
    team_production_system/asgi.py
    team_production_system/wsgi.py
    team_production_system/admin.py
    team_production_system/urls.py
    team_production_system/migrations/*

[report]
# Exclude the same files from the coverage report
omit =
    team_production_system/tests/*
    team_production_system/apps.py
    team_production_system/manage.py
    team_production_system/__init__.py
    team_production_system/asgi.py
    team_production_system/wsgi.py
    team_production_system/admin.py
    team_production_system/urls.py
    team_production_system/migrations/*