[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
django-environ = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
djoser = "*"
django-extensions = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-imagekit = "*"
django-storages = "*"
django-multiselectfield = "*"
boto3 = "*"
sentry-sdk = {extras = ["django"], version = "*"}
pytz = "*"
flake8 = "*"
celery = "*"
redis = "*"
coverage = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
