[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
django-environ = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
djoser = "*"
django-extensions = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-imagekit = "*"
django-storages = "*"
django-multiselectfield = "*"
boto3 = "*"
sentry-sdk = {extras = ["django"] }
pytz = "*"
flake8 = "*"
redis = "*"
coverage = "*"
celery = "*"
django-celery-beat = "*"
pre-commit = "*"

[dev-packages]
autopep8 = "*"
flake8-bugbear = "*"
pep8-naming = "*"
flake8-spellcheck = "*"
flake8-eradicate = "*"
black = "*"
flake8-clean-block = "*"
flake8-multiline-containers = "*"

[requires]
python_version = "3.10"
