-i https://pypi.org/simple
amqp==5.1.1; python_version >= '3.6'
asgiref==3.7.2; python_version >= '3.7'
async-timeout==4.0.3; python_full_version <= '3.11.2'
attrs==23.1.0; python_version >= '3.7'
billiard==4.1.0; python_version >= '3.7'
boto3==1.28.57; python_version >= '3.7'
botocore==1.31.57; python_version >= '3.7'
celery==5.3.4; python_version >= '3.8'
certifi==2023.7.22; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
cfgv==3.4.0; python_version >= '3.8'
charset-normalizer==3.3.0; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
click-didyoumean==0.3.0; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.3.0; python_version >= '3.6'
coverage==7.3.1; python_version >= '3.8'
cron-descriptor==1.4.0
cryptography==41.0.4; python_version >= '3.7'
defusedxml==0.8.0rc2; python_version >= '3.6'
distlib==0.3.7
django==4.2.5; python_version >= '3.8'
django-appconf==1.0.5; python_version >= '3.6'
django-celery-beat==2.5.0
django-cors-headers==4.2.0; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-extensions==3.2.3; python_version >= '3.6'
django-imagekit==5.0.0
django-multiselectfield==0.1.12
django-phonenumber-field==7.1.0; python_version >= '3.7'
django-storages==1.14.1; python_version >= '3.7'
django-templated-mail==1.1.1
django-timezone-field==6.0.1; python_version >= '3.8' and python_version < '4.0'
djangorestframework==3.14.0; python_version >= '3.6'
djangorestframework-simplejwt==5.3.0; python_version >= '3.7'
djoser==2.2.0; python_version >= '3.8' and python_version < '4.0'
filelock==3.12.4; python_version >= '3.8'
flake8==6.1.0; python_full_version >= '3.8.1'
gunicorn==21.2.0; python_version >= '3.5'
identify==2.5.30; python_version >= '3.8'
idna==3.4; python_version >= '3.5'
inflection==0.5.1; python_version >= '3.5'
jmespath==1.0.1; python_version >= '3.7'
jsonschema==4.19.1; python_version >= '3.8'
jsonschema-specifications==2023.7.1; python_version >= '3.8'
kombu==5.3.2; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
nodeenv==1.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
oauthlib==3.2.2; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
phonenumbers==8.13.22
pilkit==3.0
pillow==10.0.1; python_version >= '3.8'
platformdirs==3.10.0; python_version >= '3.7'
pre-commit==3.4.0; python_version >= '3.8'
prompt-toolkit==3.0.39; python_full_version >= '3.7.0'
psycopg2-binary==2.9.8; python_version >= '3.6'
pycodestyle==2.11.0; python_version >= '3.8'
pycparser==2.21
pyflakes==3.1.0; python_version >= '3.8'
pyjwt==2.8.0; python_version >= '3.7'
python-crontab==3.0.0
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python3-openid==3.2.0
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
redis==5.0.1; python_version >= '3.7'
referencing==0.30.2; python_version >= '3.8'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rpds-py==0.10.3; python_version >= '3.8'
s3transfer==0.7.0; python_version >= '3.7'
sentry-sdk[django]==1.31.0
setuptools==68.2.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
social-auth-app-django==5.3.0; python_version >= '3.7'
social-auth-core==4.4.2; python_version >= '3.6'
sqlparse==0.4.4; python_version >= '3.5'
typing-extensions==4.8.0; python_version < '3.11'
tzdata==2023.3; python_version >= '2'
uritemplate==4.1.1; python_version >= '3.6'
urllib3==1.26.18; python_version >= '3.6'
vine==5.0.0; python_version >= '3.6'
virtualenv==20.24.5; python_version >= '3.7'
wcwidth==0.2.8
whitenoise==6.5.0; python_version >= '3.7'
