-i https://pypi.org/simple
amqp==5.1.1; python_version >= '3.6'
asgiref==3.7.2; python_version >= '3.7'
async-timeout==4.0.3; python_full_version <= '3.11.2'
billiard==4.1.0; python_version >= '3.7'
boto3==1.28.70; python_version >= '3.7'
botocore==1.31.70; python_version >= '3.7'
celery==5.3.4; python_version >= '3.8'
certifi==2023.7.22; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
cfgv==3.4.0; python_version >= '3.8'
charset-normalizer==3.3.1; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
click-didyoumean==0.3.0; python_version < '4.0' and python_full_version >= '3.6.2'
click-plugins==1.1.1
click-repl==0.3.0; python_version >= '3.6'
coverage==7.3.2; python_version >= '3.8'
cron-descriptor==1.4.0
cryptography==41.0.5; python_version >= '3.7'
defusedxml==0.8.0rc2; python_version >= '3.6'
distlib==0.3.7
django==4.2.6; python_version >= '3.8'
django-appconf==1.0.5; python_version >= '3.6'
django-celery-beat==2.5.0
django-cors-headers==4.3.0; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-extensions==3.2.3; python_version >= '3.6'
django-imagekit==5.0.0
django-multiselectfield==0.1.12
django-phonenumber-field==7.2.0; python_version >= '3.8'
django-storages==1.14.2; python_version >= '3.7'
django-templated-mail==1.1.1
django-timezone-field==6.0.1; python_version >= '3.8' and python_version < '4.0'
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0; python_version >= '3.7'
djoser==2.2.0
filelock==3.12.4; python_version >= '3.8'
gunicorn==21.2.0; python_version >= '3.5'
identify==2.5.30; python_version >= '3.8'
idna==3.4; python_version >= '3.5'
jmespath==1.0.1; python_version >= '3.7'
kombu==5.3.2; python_version >= '3.8'
nodeenv==1.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
oauthlib==3.2.2; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
phonenumbers==8.13.23
pilkit==3.0
pillow==10.1.0; python_version >= '3.8'
platformdirs==3.11.0; python_version >= '3.7'
pre-commit==3.5.0; python_version >= '3.8'
prompt-toolkit==3.0.39; python_full_version >= '3.7.0'
psycopg2-binary==2.9.9; python_version >= '3.7'
pycparser==2.21
pyjwt==2.8.0; python_version >= '3.7'
python-crontab==3.0.0
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python3-openid==3.2.0
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
redis==5.0.1; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
s3transfer==0.7.0; python_version >= '3.7'
sentry-sdk[django]==1.32.0
setuptools==68.2.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
social-auth-app-django==5.4.0; python_version >= '3.8'
social-auth-core==4.4.2; python_version >= '3.6'
sqlparse==0.4.4; python_version >= '3.5'
typing-extensions==4.8.0; python_version < '3.11'
tzdata==2023.3; python_version >= '2'
urllib3==2.0.7; python_version >= '3.6'
vine==5.0.0; python_version >= '3.6'
virtualenv==20.24.6; python_version >= '3.7'
wcwidth==0.2.8
whitenoise==6.6.0; python_version >= '3.8'
